* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(0, 6, 36);
    color: #e2e8f0;
    gap: 2.5rem
}

.titulo {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(to right, #a855f7, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

.mensaje-juego {
    font-size: 1.5rem;
    font-weight: 400;
    min-height: 2rem; /* Evita que la pantalla salte cuando el texto desaparece */
    letter-spacing: 1px;
    color: #e2e8f0;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 12px;
    /* Efecto cristal detrás del tablero */
    background-color: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0 ,0.5);
    backdrop-filter: blur(10px);
}

.casilla {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(131, 102, 177, 0.3);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    font-weight: 900;
    color: #f8fafc;
    cursor: pointer;
    transition: all 0.2s ease;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.casilla:hover {
    background-color: rgba(131, 102 ,177, 0.2);
    border-color: rgba(131, 102, 177, 0.8);
    transform: scale(1.02);
}

#btn-reiniciar {
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: inherit;
    color: #ffffff;
    background: linear-gradient(135deg, #a855f7, #6366f1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(168, 85, 247, 0.4);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#btn-reiniciar:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(168, 85, 247, 0.6);
}

#btn-reiniciar:active {
    transform: translateY(1px);
}